<div class="footer">

    <div class="row">

        <div class="col-sm-9">
            <ul>
                <li>timhoffsmith [at] wisc [dot] edu</li>
                <li><a href="https://centerhealthyminds.org/about/people/ted-imhoff-smith">centerhealthyminds.org</a></li>
                <li>
                  <a href="https://twitter.com/imhoffsmith">
                    <img class="twitterbird" src="Twitter_Logo_Black.png" width="65" height="35" title="Twitter profile">
                    <img class="twitterbirdhover" src="Twitter_Logo_Grey.png" width="65" height="35" title="Twitter profile">
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/ted-imhoff-smith/">
                    <img class="linkedin" src="LinkedIn_Black.png" width="65" height="35" title="LinkedIn profile">
                    <img class="linkedinhover" src="LinkedIn_Grey.png" width="65" height="35" title="LinkedIn profile">
                  </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-3">
            <p class="pull-right"><small>&copy; Ted Imhoff-Smith 2018</small></p>
        </div>

    </div>
</div> <!-- /footer -->
