<div class="footer">

    <div class="row">

        <div class="col-sm-8">
            <ul>
                <li>timhoffsmith [at] wisc [dot] edu</li>
                <li><a href="https://centerhealthyminds.org/about/people/ted-imhoff-smith">centerhealthyminds.org</a></li>
                <li>
                  <a class="twitterbird" href="https://twitter.com/imhoffsmith" title="Twitter profile"></a>
                </li>
                <li>
                  <a class="linkedin" href="https://www.linkedin.com/in/ted-imhoff-smith/" title="LinkedIn profile"></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <p class="pull-right"><small>&copy; Ted Imhoff-Smith 2018</small></p>
        </div>

    </div>
</div> <!-- /footer -->
