<div class="footer">

    <div class="row">

        <div class="col-sm-8">
            <ul>
                <li>
                  <a class="twitterbird" href="https://twitter.com/imhoffsmith" title="Twitter profile"></a>
                </li>
                <li>
                  <a class="linkedin" href="https://www.linkedin.com/in/ted-imhoff-smith/" title="LinkedIn profile"></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <p class="pull-right"><small>&copy; Ted Imhoff-Smith 2024</small></p>
        </div>

    </div>
</div> <!-- /footer -->
